/*---------------------------*\
  jQuery-Sidebar插件所需样式
\*---------------------------*/
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html, body, .jqsb-container, .jqsb-sidebar {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.jqsb-container {
  position: relative;
  z-index: 1;
}

.jqsb-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 0;
  background-color: #333333;
  color: #f2f2f2;
}

.jqsb-left {
  left: 0;
}

.jqsb-right {
  right: 0;
}

.jqsb-left .jqsb-left-sm {
  float: left;
}

.jqsb-right .jqsb-right-sm {
  float: right;
}

.jqsb-left .jqsb-left-bg, .jqsb-right .jqsb-right-bg {
  clear: both;
}

.sidebar-mode {
  z-index: 9999;
}


/*---------------------------*\
  metisMenu插件所需样式
\*---------------------------*/
@at-root {
  .metismenu .arrow {
    float: right;
    line-height: 1.42857;
  }
  *[dir="rtl"] .metismenu .arrow {
    float: left;
  }
  .metismenu .glyphicon.arrow:before {
    content: "\e079";
  }
  .metismenu .active > a > .glyphicon.arrow:before {
    content: "\e114";
  }
  .metismenu .fa.arrow:before {
    content: "\f104";
  }
  .metismenu .active > a > .fa.arrow:before {
    content: "\f107";
  }
  .metismenu .ion.arrow:before {
    content: "\f3d2"
  }
  .metismenu .active > a > .ion.arrow:before {
    content: "\f3d0";
  }
  .metismenu .plus-times {
    float: right;
  }
  *[dir="rtl"] .metismenu .plus-times {
    float: left;
  }
  .metismenu .fa.plus-times:before {
    content: "\f067";
  }
  .metismenu .active > a > .fa.plus-times {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .metismenu .plus-minus {
    float: right;
  }
  *[dir="rtl"] .metismenu .plus-minus {
    float: left;
  }
  .metismenu .fa.plus-minus:before {
    content: "\f067";
  }
  .metismenu .active > a > .fa.plus-minus:before {
    content: "\f068";
  }
  .metismenu .collapse {
    display: none;
  }
  .metismenu .collapse.in {
    display: block;
  }
  .metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
  }
}


/*------------------------------------*\
    动画样式 &animate
\*------------------------------------*/

// 从左侧淡入 参数是百分比
@at-root {
  @mixin fadeInleft($percent){
    $name : $percent;
    $percent : -$percent / 100;
    @keyframes fadeInLeft#{$name} {
      from {
        opacity: 0;
        -webkit-transform: translate3d(percentage($percent), 0, 0);
        transform: translate3d(percentage($percent), 0, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    .fadeInLeft#{$name} {
      -webkit-animation-name: fadeInLeft#{$name};
      animation-name: fadeInLeft#{$name};
    }
  }

  @include fadeInleft(20);
  @include fadeInleft(30);
}


/*------------------------------------*\
    基础样式样式 &website
\*------------------------------------*/

$baseSetting: (
        backgroundColor: #293038, // 背景色 #2f4050 #293038
        navBackgroundColor: #f7f7f8, // 导航栏背景色
        fontSize: (10px,12px,13px,14px,16px,18px), // 字体尺寸
        fontColor: #a7b1c2, // 字体颜色
        hoverColor: #fff, // 悬停时的字体颜色
        focusColor: #fff, // 获得焦点时的字体颜色
);

.block{
  display: block;
}
.inline{
  display: inline;
}
.clear-margin{
  margin: 0;
}
a.cancelDefault:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
/*------------------------------------*\
    导航栏样式 &navbar
\*------------------------------------*/

$navbarSetting: (
        navbar-height: 50px
);
.navbar{
  margin-bottom: 0;
}
.navbar-site{
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid darken(map_get($baseSetting,navBackgroundColor),10%);
  background-color: map_get($baseSetting,navBackgroundColor);

  a,.navbar-nav>li>a{
    font-weight: 600;
    color: map_get($baseSetting,fontColor);
  }

  .navbar-nav>.open>a,
  .navbar-nav>.open>a:focus,
  .navbar-nav>.open>a:hover {
    color: darken(map_get($baseSetting,navBackgroundColor),45%);
    background-color: darken(map_get($baseSetting,navBackgroundColor),5%);
  }

  .navbar-toggle {
    border-color: darken(map_get($baseSetting,navBackgroundColor),10%);
    &:hover{
      background-color: darken(map_get($baseSetting,navBackgroundColor),10%);
    }
    .icon-bar{
      background-color: darken(map_get($baseSetting,navBackgroundColor),35%);
    }
  }

  @at-root .navbar-brand{
    //padding:10px;
    span{
      //line-height: 30px;
      //height: 30px;
      //width: 30px;
      //text-align: center;
      //border: 1px red solid;
      color: map_get($baseSetting,backgroundColor);
    }
  }

}


/*------------------------------------*\
    侧边栏样式 &sidebar
\*------------------------------------*/
// 侧边栏基础设置
$sidebarSetting: (
        scrollbarThumbColor: #FF5722, // 滚动条滑块颜色
        fontColor: #a7b1c2, // 字体颜色
        lg-width: 180px, // 侧边栏宽度
        sm-width: 70px // 小块宽度
);

%sidebar-ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  >li{
    >a{
      position: relative;
      display: block;
      padding: 15px
    }
    >a:focus{
      color:map_get($baseSetting,focusColor);
      background-color: lighten(map_get($baseSetting,backgroundColor),5%);
      text-decoration: none;
    }
    >a:hover{
      color:map_get($baseSetting,hoverColor);
      background-color: lighten(map_get($baseSetting,backgroundColor),5%);
      text-decoration: none;
    }
  }
}

// 左侧侧边栏样式
.jqsb-left{
  background-color: map_get($baseSetting,backgroundColor);
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 3px;
    height: 3px;
  };
  &::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: map_get($sidebarSetting,scrollbarThumbColor);
  }


  // jqsb-left-bg样式
  @at-root .jqsb-left-bg{
    width: map_get($sidebarSetting,lg-width);

    @at-root .metismenu {
      //@extend %sidebar-ul;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      a{
        color: map_get($sidebarSetting,fontColor);
        font-size: nth(map_get($baseSetting,fontSize),3);
        font-weight: 600;
      }
    }

    @at-root .item-list{
      @extend %sidebar-ul;
      text-indent: nth(map_get($baseSetting,fontSize),1) * 3;
    }

    @at-root .item-link{
      position: relative;
      display: block;
      padding: 15px;
      background-color: darken(map_get($baseSetting,backgroundColor),2%);
      &:focus{
        color:map_get($baseSetting,focusColor);
        background-color: darken(map_get($baseSetting,backgroundColor),2%);
        text-decoration: none;
      }
      &:hover{
        color:map_get($baseSetting,hoverColor);
        background-color: darken(map_get($baseSetting,backgroundColor),2%);
        text-decoration: none;
      }
      >i{
        font-size: nth(map_get($baseSetting,fontSize),1);
        margin-right: nth(map_get($baseSetting,fontSize),1);
      }
    }

    @at-root .user-info{
      padding: 25px 0 15px 15px;
      @at-root .user-portrait{
        display: block;
        max-width: 40%;
        height: auto;
        margin-bottom: 8px;
      }

      @at-root .user-info-dropdown{
        position: relative;
      }

    }

  }

  // jqsb-left-sm样式
  @at-root .jqsb-left-sm{
    width: map_get($sidebarSetting,sm-width);

    @at-root .sm-item-list{
      @extend %sidebar-ul;
      >li>a{
        color: map_get($sidebarSetting,fontColor);
        font-size: nth(map_get($baseSetting,fontSize),5);
        padding: 12px 18px;
        text-align: center;
      }

      .personal-icon{
        >a{
          background-color: lighten(map_get($baseSetting,backgroundColor),8%);
          line-height: map_get($navbarSetting,navbar-height);
          padding: 0;
          vertical-align: middle;
          >img{
            width: 30px;
          }
        }
      }

    }

  }

  //工具提示样式修改
  @at-root {
    .sidebar-tooltip{
      .tooltip-inner {
        max-width: 200px;
        padding: 0 10px;
        color: #fff;
        text-align: center;
        background-color: rgba(lighten(map_get($baseSetting,backgroundColor),5%),.95);
        border-radius:0;
        line-height: 46px;
        font-weight: 600;
      }
      .tooltip.top .tooltip-arrow {
        border-top-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.top-left .tooltip-arrow {
        border-top-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.top-right .tooltip-arrow {
        border-top-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.right .tooltip-arrow {
        border-right-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.left .tooltip-arrow {
        border-left-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.bottom .tooltip-arrow {
        border-bottom-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.bottom-left .tooltip-arrow {
        border-bottom-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.bottom-right .tooltip-arrow {
        border-bottom-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
    }

  }

}


/*------------------------------------*\
    中间pjax-container容器
\*------------------------------------*/
#pjax-container{
  height: calc(100vh - 81px);
  overflow: auto;
  padding: 20px;
  background-color: darken(#fff,3%);
}
//#editormd{
//  border-top-width: 0;
//}
.editormd-fullscreen{
  z-index:1024;
}
.footer{
  height: 30px;
  line-height: 30px;
  text-align: right;
  background-color: darken(#fff,1%);
  border-top: 1px solid darken(#fff,10%);
  font-size: 10px;
}

// 发布栏
.shift-trash{
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.nav-title{
  margin: 0 0 22px;
}
.atc-tit-ipt{
  margin-bottom: 15px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

// toastr样式修改
.toast-close-button{
  line-height: 20px;
}

/*------------------------------------*\
    媒体库
\*------------------------------------*/
.media-toolbar{
  padding: 10px;
  margin-bottom: 15px;
  height: auto;
  display: inline-block;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border: 1px solid #e5e5e5;
  background: #fff;
}

.fileinput-button{
  position: relative;
  overflow: hidden;
  display: inline-block;
  input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
  }
}

.attachment {
  padding: 8px !important;
  float: left;
  width: 100%;

  @media (min-width: 480px){
    width: 50%;
  }
  @media (min-width: 640px){
    width: 33.3333%;
  }
  @media (min-width: 768px){
    width: 25%;
  }
  @media (min-width: 1024px){
    width: 20%;
  }
  @media (min-width: 1280px){
    width: 16.666%;
  }
  @media (min-width: 1440px){
    width: 12.5%;
  }

  .attachment-preview{
    position: relative;
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
    background: #eee;
    cursor: pointer;

    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }

    .upload-button{
      text-align: center;
      top: 50% !important;
      margin-top: -11px;
      &:after{
        content: none !important;
      }
    }

    .thumbnail-preview {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
      -webkit-transition: opacity .1s;
      transition: opacity .1s;

      //&:after{
      //  content: "";
      //  display: block;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  right: 0;
      //  bottom: 0;
      //  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
      //  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
      //  overflow: hidden;
      //}

      .centered {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        transform: translate(50%, 50%);

        img{
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          top: 0;
          left: 0;
          max-height: 100%;
          border: none;
        }
      }
    }
  }
}


