// 灰色
$base_color_gray: #F7F8F9;
// 灰色
$color_gray: #808080;
// 妃色
$color_LightPink: #ed5736;
// 朱膘
$color_ZhuBiao: #f36838;
//橙黄
$color_orange: #ffa400;
// 橘黄
$color_tangerine: #ff8936;
// 黄栌
$color_cotinus: #e29c45;
// 茶色
$color_tawny: #b35c44;
// 鹅黄
$base_color_yellow: #fff143;
// 赤金
$color_RedGold: #f2be45;
// 松花色
$base_color_green: #bce672;
// 松柏绿
$color_conifer: #21a675;
// 油绿
$color-YouLv: #00bc12;
// 青碧
$base_color_cyan: #48c0a3;
// 群青
$color_ultramarine: #4c8dae;
// 蓝色
$color_blue: #4183c4;
// 玄青
$color_DeepGreen: #3d3b4f;
// 黛蓝
$color_DarkBlue : #425066;
// 紫酱
$color_sauce: #815476;
// 檀
$color_wingceltis: #b36d61;
// 黧
$color_haze: #5d513c;
// 黝黑
$color_swarthy:#665757;
// 墨色
$color_ink: #50616d;
// 琥珀
$color_amber: #ca6924;


/*------------------------------------*\
    基础样式
\*------------------------------------*/
body{
  background-color: $base_color_gray;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;
}
a:hover{
  text-decoration: none;
}
::selection{
  background: $color_haze;
  color: #fff;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.padding-null{
  padding: 0;
}
.margin-null{
  margin: 0;
}
.padding-margin-null{
  padding: 0;
  margin: 0;
}
// Font Awesome 基础样式
.font-awesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// 衬线字体
.font-serif{
  font-family: Times, Georgia, serif;
}

// 带阴影的边框
.box-shadow{
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

// 侧边栏的一个块
.sidebar-chunk{
  margin-bottom: 20px;
  padding: 15px;
  .sc-label{
    position: relative;
    padding: 5px 15px 5px 30px;
    left: -30px;
    background-color: $color_tangerine;
    color: white;
    &:after{
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      border-top: 0 solid transparent;
      border-right: 15px solid darken($color_tangerine,30%);
      border-bottom: 15px solid transparent;
      border-left: 0 solid transparent;
      width: 0;
      height: 0;
    }
  }
}

// 显示一个标签块
.tag-piece{
  opacity: .75;
  background-color: #777;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  color: #fff !important;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  position: relative;
  margin: 5px 3px 5px 10px;
  &:before{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -20px;
    border: 10px solid transparent;
    border-right-color: #777;
  }
  &:hover{
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}
// 显示一个标签快(小)
.tag-piece-sm{
  opacity: .75;
  background-color: #777;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  font-size: 6px;
  color: #fff !important;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  position: relative;
  margin: 5px 0 5px 10px;
  &:before{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -14px;
    border: 7px solid transparent;
    border-right-color: #777;
  }
  &:hover{
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.tag-piece-LightPink{
  background-color: $color_LightPink;
  &:before{
    border-right-color: $color_LightPink;
  }
}
.tag-piece-conifer{
  background-color: $color_conifer;
  &:before{
    border-right-color: $color_conifer;
  }
}
.tag-piece-sauce{
  background-color: $color_sauce;
  &:before{
    border-right-color: $color_sauce;
  }
}
.tag-piece-RedGold{
  background-color: $color_RedGold;
  &:before{
    border-right-color: $color_RedGold;
  }
}
.tag-piece-ultramarine{
  background-color: $color_ultramarine;
  &:before{
    border-right-color: $color_ultramarine;
  }
}
.tag-piece-swarthy{
  background-color: $color_swarthy;
  &:before{
    border-right-color: $color_swarthy;
  }
}
.tag-piece-ink{
  background-color: $color_ink;
  &:before{
    border-right-color: $color_ink;
  }
}
.tag-piece-amber{
  background-color: $color_amber;
  &:before{
    border-right-color: $color_amber;
  }
}

// 显示标签云
.tag-cloud{
  a{
    border-bottom: 1px solid #ccc;
    &:active,&:hover{
      border-bottom-color: #222;
    }
  }
  .tag-1{
    font-size: 12px;
    color: #ccc;
  }
  .tag-2{
    font-size: 15px;
    color: #adadad;
  }
  .tag-3{
    font-size: 18px;
    color: #8e8e8e;
  }
  .tag-4{
    font-size: 21px;
    color: #6f6f6f;
  }
  .tag-5{
    font-size: 24px;
    color: #4f4f4f;
  }
  .tag-6{
    font-size: 27px;
    color: #303030;
  }
  .tag-7{
    font-size: 30px;
    color: #111;
  }
}
// 一个标签
.wm-label{
  display: inline-block;
  padding: .4em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
// 标签缩放
.vm-label-scale:hover{
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
// 标签默认颜色
.wm-label-default{
  opacity: .75;
  background-color: #777;
}

// 添加一个分类行块 前置有图标字体
.wm-category{
  &:before{
    content: "\f02d";
    display: inline-block;
    float: left;
    color: #999;
    font: normal normal normal 20px FontAwesome;
    margin: 6px 6px 0 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.wm-category-sm{
  &:before{
    content: "\f02d";
    display: inline-block;
    float: left;
    color: #999;
    font: normal normal normal 14px FontAwesome;
    margin: 5px 5px 0 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
// 添加一个标签行块 前置有图标字体
.wm-tag{
  &:before{
    content: "\f02b";
    display: inline-block;
    float: left;
    color: #999;
    font: normal normal normal 20px FontAwesome;
    margin: 6px 6px 0 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.wm-tag-sm{
  &:before{
    content: "\f02b";
    display: inline-block;
    float: left;
    color: #999;
    font: normal normal normal 14px FontAwesome;
    margin: 5px 5px 0 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* 动画样式 */
// 从左侧淡入 参数是百分比
@at-root {
  @mixin fadeInleft($percent){
    $name : $percent;
    $percent : -$percent / 100;
    @keyframes fadeInLeft#{$name} {
      from {
        opacity: 0;
        -webkit-transform: translate3d(percentage($percent), 0, 0);
        transform: translate3d(percentage($percent), 0, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    .fadeInLeft#{$name} {
      -webkit-animation-name: fadeInLeft#{$name};
      animation-name: fadeInLeft#{$name};
    }
  }

  @include fadeInleft(20);
  @include fadeInleft(30);
}

/*------------------------------------*\
    背景空荡时使用,结合JS
\*------------------------------------*/
canvas#evanyou{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*------------------------------------*\
    右侧固定  侧边栏开关,返回顶层按钮
\*------------------------------------*/
.sidebar-toggle{
  position: fixed;
  z-index: 24;
  bottom: 40px;
  right: 50px;
  color: $color_haze;
}
.back-to-top{
  color: white;
  font-size: 12px;
  background-color: #777;
  height: 28px;
  width: 28px;
  line-height: 28px;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  z-index: 24;
  bottom: 35px;
  right: 70px;
  transition: background 0.6s ease-out 0s;
  &:hover{
    background-color: darken(#777,10%);
  }
}

/*------------------------------------*\
    导航栏
\*------------------------------------*/
// 蓝色背景 白色字体
.navbar-blue{
  background-color: $color_blue;
  border-color: $color_blue;
  a{
    color: #fff;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: $color_tangerine;
  }
  .navbar-toggle{
    border-color: $base_color_gray;
    background-color: $base_color_gray;
    .icon-bar{
      background-color: darken($base_color_gray,40%);
    }
  }

  .navbar-collapse {
    @media (max-width: 767px) {
      border-top: 1px solid darken($base_color_gray,10%);
    }
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .navbar-nav{
      margin: 0 -15px;
    }
  }

}
// 白色背景 蓝色字体
.navbar-white{
  background-color: #fff;
  border-color: #fff;
  a{
    color: $color_blue;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: $base_color_gray;
  }

  .navbar-toggle{
    border-color: $base_color_gray;
    background-color: $base_color_gray;
    .icon-bar{
      background-color: darken($base_color_gray,40%);
    }
  }

  .navbar-collapse {
    @media (max-width: 767px) {
      border-top: 1px solid darken($base_color_gray,10%);
    }
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .navbar-nav{
      margin: 0 -15px;
    }
  }

}


/*------------------------------------*\
    幕头
\*------------------------------------*/

// 蓝色 首页
.jumbotron-blue{
  background-color: $color_blue;
  border-color: $color_blue;
  margin-top: -20px;
  margin-bottom: 0;
  color:#fff;
  a{
    color: #fff;
  }
  h1{
    margin-top:0;
    text-shadow: 4px 3px 0 $color_blue, 9px 5px 1px rgba(0, 0, 0, 0.15);
  }
  p{
    margin: 20px 0;
  }
  ul{
    margin: 30px 0 0;
    i.fa{
      padding-right: 5px;
    }
  }
}

// 紫酱 分类
.jumbotron-sauce{
  background-color: $color_sauce;
  border-color: $color_sauce;
  margin-top: -20px;
  margin-bottom: 0;
  color:#fff;
  a{
    color: #fff;
  }
  h1{
    margin-top:0;
    text-shadow: 4px 3px 0 $color_sauce, 9px 5px 1px rgba(0, 0, 0, 0.15);
  }
  p{
    margin: 20px 0;
  }
  ul{
    margin: 30px 0 0;
    i.fa{
      padding-right: 5px;
    }
  }
}

// 朱膘  归档
.jumbotron-ZhuBiao{
  background-color: $color_ZhuBiao;
  border-color: $color_ZhuBiao;
  margin-top: -20px;
  margin-bottom: 0;
  color:#fff;
  a{
    color: #fff;
  }
  h1{
    margin-top:0;
    text-shadow: 4px 3px 0 $color_ZhuBiao, 9px 5px 1px rgba(0, 0, 0, 0.15);
  }
  p{
    margin: 20px 0;
  }
  ul{
    margin: 30px 0 0;
    i.fa{
      padding-right: 5px;
    }
  }
}

// 松柏绿  关于我
.jumbotron-conifer{
  background-color: $color_conifer;
  border-color: $color_conifer;
  margin-top: -20px;
  margin-bottom: 0;
  color:#fff;
  a{
    color: #fff;
  }
  h1{
    margin-top:0;
    text-shadow: 4px 3px 0 $color_conifer, 9px 5px 1px rgba(0, 0, 0, 0.15);
  }
  p{
    margin: 20px 0;
  }
  ul{
    margin: 30px 0 0;
    i.fa{
      padding-right: 5px;
    }
  }
}

// 黛蓝  文章
.jumbotron-DarkBlue{
  background-color: $color_DarkBlue;
  border-color: $color_DarkBlue;
  margin-top: -20px;
  margin-bottom: 0;
  color:#fff;
  a{
    color: #fff;
  }
  h1{
    margin-top:0;
    text-shadow: 4px 3px 0 $color_DarkBlue, 9px 5px 1px rgba(0, 0, 0, 0.15);
  }
  p{
    margin: 20px 0;
  }
  ul{
    margin: 30px 0 0;
    i.fa{
      padding-right: 5px;
    }
  }
  .wm-tag{
    margin-left: 20px;
  }
}


/*------------------------------------*\
    文章列表样式
\*------------------------------------*/
.wrap-main{
  margin-top: 30px;
}
.article-list-entry{
  margin: 0 0 30px 0;
  .article-list-header{
    border-left:6px solid rgba($color_gray,.1);
    border-top-left-radius: 5px;
    padding: 5px 20px;
    &:active,&:hover{
      border-color: rgba($color-YouLv,.6);
    }
    a{
      color: $color_gray;
      &:hover{
        color: $color_DeepGreen;
      }
    }
    .title{
      font-weight: 600;
      position: relative;
      .time{
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
  .article-list-content{
    margin-left: 26px;
    padding-bottom: 15px;
    font-size: 18px;
    color: $color_gray;
  }
  .article-list-footer{
    margin:0 26px;
    border-top: 1px solid darken($base_color_gray,7%);
    padding: 5px 0 10px;
    position: relative;
    .wm-tag{
      margin-left: 20px;
    }
    .more{
      padding: 4px 0;
    }

  }
}


/*------------------------------------*\
    侧边样式 (类别,标签,归档)
\*------------------------------------*/
// 分类
.article-category{
  background-color: #fff;
  margin-bottom: 30px;

  li {
    line-height: 40px;
    color: $color_gray;
    &:before{
      @extend .font-awesome;
      //content: '\f105';
      content: '·';
    }
    a{
      &:hover{
        text-decoration: underline;
        color: $color_DeepGreen;
      }
      color: $color_gray;
      padding: 0 0 10px 15px;
    }
  }
}
// 标签
.article-tag{
  .tag-cloud{
      line-height: 40px;
  }
}
// 最热文章
.article-hot{
  ul > li{
    margin: 10px 0;
    font-size: 10px;
    a{
      font-size: 14px;
      color: $color_gray;
      &:hover{
        text-decoration: underline;
        color: $color_DeepGreen;
      }
    }
    .comment{
      color: $color_gray;
    }
  }
}


/*------------------------------------*\
    页脚
\*------------------------------------*/
.app-footer{
  color: #777;
  margin-left:0;
  border-top: 1px solid darken($base_color_gray,7%);
  margin-top: 60px;
  padding: 25px 0;
  background-color: $base_color_gray;
  a{
    color: $color_blue;
    &:hover{
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-color: $color_blue;
    }
  }
}


/*------------------------------------*\
    文章详细页
\*------------------------------------*/
.editormd-html-preview{
  padding: 0;
  margin: 25px 0 30px;
}
.affix {
  top: 0;
}
.affix-bottom {
  position: absolute;
}
.markdown-toc{
  padding: 30px 20px ;

  @media  (min-width: 970px) {
    width: 293px;
  }
  @media (min-width: 1200px){
    width:360px;
  }

  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul.markdown-toc-list{
    ul{
      display: none;
    }

    > li a{
      display: block;
      padding: 4px 15px;
      font-size: 13px;
      font-weight: 500;
      color: #767676;
    }

    li.active {
      > ul{
        display: block;
      }
      > a{
        display: block;
        background-color: transparent;
        border-left: 2px solid #563d7c;
        color: #563d7c;
      }
    }

    > li.active {
      > a {
        font-weight: 700;
      }
      >ul {
        padding-bottom: 15px;
        > li{
          > a{
            font-weight: 500;
            padding-left: 30px;
          }
          > ul > li{
            > a{
              font-weight: 500;
              padding-left:45px;
            }
            > ul > li{
              > a{
                font-weight: 500;
                padding-left:60px;
              }
              > ul > li{
                > a{
                  font-weight: 500;
                  padding-left:75px;
                }
                > ul >li{
                  > a{
                    font-weight: 500;
                    padding-left:90px;
                  }
                  > ul > li{
                    > a{
                      font-weight: 500;
                      padding-left:105px;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

  }

}


/*------------------------------------*\
    关于我
\*------------------------------------*/
.profile{
  margin: 25px 0;
  padding: 15px;

  .site-author td{
    &:nth-child(1){
      width: 40%;
    }
    &:nth-child(2){
      width: 60%;
    }
    .motto{
      padding: 10px 15px 0;
    }
  }

  .social{
    margin: 20px 0 5px;
  }

}
.music-player{
  margin-bottom: 25px;
  padding: 15px;
  #aPlayer{
    margin: 0 !important;
  }
}
.thumbs{
  margin-bottom: 25px;
  padding: 15px;
  font-size: 40px;
  color: #e51c23;
  @at-root #thumbs-up:hover{
    cursor: pointer;
  }
}


/*------------------------------------*\
    归档
\*------------------------------------*/
.archive{
  line-height: 1.6;
  padding: 20px;
  background-color: #fff;
  margin: 25px 0 30px;
}

.timeline{
  .timeline-body{
    width: 78%;
    margin: 30px 11% 0;
    padding: 0 0 40px;
    float: left;
    position: relative;

    &:after{
      background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      content: "";
      display: block;
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      width: 3px;
      z-index: 0;
      filter: alpha(opacity=35);
      opacity: 0.35;
    }

    .timeline-date{
      padding:30px 0 10px;
      position: relative;
      z-index: 1;
      clear: both;
      h3{
        padding: 10px 20px;
      }
    }

    .timeline-box{
      width: 46%;
      position: relative;
      z-index: 1;
      padding: 15px;
      margin: 10px;
      color: $color_gray;
      a{
        color: $color_gray;
        &:hover{
          color: $color_DeepGreen;
        }
      }
      &.left{
        clear:both;
        float: left;
      }
      &.right{
        clear: both;
        float: right;
      }
      &.left:before{
        right: -7.6%;
      }
      &.right:before{
        left: -6.9%;
      }
      &.left:after{
        right: -8px;
        border-right: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
      }
      &.right:after{
        left: -8px;
        border-left: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
      }

      &:before{
        box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px $color_conifer;
        background: none repeat scroll 0 0 $color_conifer;
        border-radius: 50%;
        content: "";
        display: block;
        height: 7px;
        position: absolute;
        top: 22px;
        width: 8px;
      }
      &:after{
        background: #FFF;
        content: "";
        display: block;
        height: 14px;
        position: absolute;
        top: 18px;
        width: 14px;
        z-index: 0;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .title{
        font-weight: 600;
        margin-bottom: 20px;
      }
      .description{
        margin-bottom: 20px;
      }
      .time{
        margin-bottom: 10px;
        i{
          margin-right: 5px;
        }
      }
      .wm-category-sm .tag-piece-sm:last-child{
        margin-right: 10px;
      }
      .footer{
        margin-top: 15px;
        .comment{
          margin: 5px 0;
          .fa-comments{
            margin-right: 5px;
          }
        }
        .more{
          margin: 3px 0;
        }
      }

    }

  }

}


/*------------------------------------*\
    分类,标签
\*------------------------------------*/
.category-tag-content{
  width: 80%;
  margin: 50px auto;

  .category-all{
    padding: 0 50px;
    a{
      color: $base_color_cyan;
      &:hover{
        color: $color_conifer;
      }
    }
    ul{
      line-height: 60px;
      font-size: 26px;
    }
  }
  .count{
    p{
      font-size: 18px;
      span{
        font-weight: bold;

      }
    }
  }
  .tag-cloud{
    padding: 0 50px;
    line-height: 60px;
  }
}


/*------------------------------------*\
  jQuery-Sidebar插件所需样式
\*------------------------------------*/
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html, body, .jqsb-container, .jqsb-sidebar {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jqsb-container {
  position: relative;
  z-index: 1;
}
.jqsb-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 0;
  background-color: #333333;
  color: #f2f2f2;
}
.jqsb-left {
  left: 0;
}
.jqsb-right {
  right: 0;
}
.jqsb-left .jqsb-left-sm {
  float: left;
}
.jqsb-right .jqsb-right-sm {
  float: right;
}
.jqsb-left .jqsb-left-bg, .jqsb-right .jqsb-right-bg {
  clear: both;
}
.sidebar-mode {
  z-index: 9999;
}


/*---------------------------*\
  metisMenu插件所需样式
\*---------------------------*/
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
  float: left;
}
.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}
.metismenu .fa.arrow:before {
  content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}
.metismenu .ion.arrow:before {
  content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .plus-times {
  float: right;
}
*[dir="rtl"] .metismenu .plus-times {
  float: left;
}
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}
.metismenu .fa.plus-minus:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}



/*------------------------------------*\
    基础样式样式 &website
\*------------------------------------*/

$baseSetting: (
        backgroundColor: #293038, // 背景色 #2f4050 #293038
        navBackgroundColor: #f7f7f8, // 导航栏背景色
        fontSize: (10px,12px,13px,14px,16px,18px), // 字体尺寸
        fontColor: #a7b1c2, // 字体颜色
        hoverColor: #fff, // 悬停时的字体颜色
        focusColor: #fff, // 获得焦点时的字体颜色
);

/*------------------------------------*\
    导航栏样式 &navbar
\*------------------------------------*/
$navbarSetting: (
        navbar-height: 50px
);
.navbar{
  margin-bottom: 0;
}
.navbar-site{
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid darken(map_get($baseSetting,navBackgroundColor),10%);
  background-color: map_get($baseSetting,navBackgroundColor);

  a,.navbar-nav>li>a{
    font-weight: 600;
    color: map_get($baseSetting,fontColor);
  }

  .navbar-nav>.open>a,
  .navbar-nav>.open>a:focus,
  .navbar-nav>.open>a:hover {
    color: darken(map_get($baseSetting,navBackgroundColor),45%);
    background-color: darken(map_get($baseSetting,navBackgroundColor),5%);
  }

  .navbar-toggle {
    border-color: darken(map_get($baseSetting,navBackgroundColor),10%);
    &:hover{
      background-color: darken(map_get($baseSetting,navBackgroundColor),10%);
    }
    .icon-bar{
      background-color: darken(map_get($baseSetting,navBackgroundColor),35%);
    }
  }

  @at-root .navbar-brand{
    //padding:10px;
    span{
      //line-height: 30px;
      //height: 30px;
      //width: 30px;
      //text-align: center;
      //border: 1px red solid;
      color: map_get($baseSetting,backgroundColor);
    }
  }

}


/*------------------------------------*\
    侧边栏样式 &sidebar
\*------------------------------------*/
// 侧边栏基础设置
$sidebarSetting: (
        scrollbarThumbColor: #FF5722, // 滚动条滑块颜色
        fontColor: #a7b1c2, // 字体颜色
        lg-width: 180px, // 侧边栏宽度
        sm-width: 70px // 小块宽度
);

%sidebar-ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  >li{
    >a{
      position: relative;
      display: block;
      padding: 15px
    }
    >a:focus{
      color:map_get($baseSetting,focusColor);
      background-color: lighten(map_get($baseSetting,backgroundColor),5%);
      text-decoration: none;
    }
    >a:hover{
      color:map_get($baseSetting,hoverColor);
      background-color: lighten(map_get($baseSetting,backgroundColor),5%);
      text-decoration: none;
    }
  }
}

// 左侧侧边栏样式
.jqsb-left{
  background-color: map_get($baseSetting,backgroundColor);
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 3px;
    height: 3px;
  };
  &::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: map_get($sidebarSetting,scrollbarThumbColor);
  }


  // jqsb-left-bg样式
  @at-root .jqsb-left-bg{
    width: map_get($sidebarSetting,lg-width);

    @at-root .metismenu {
      //@extend %sidebar-ul;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      a{
        color: map_get($sidebarSetting,fontColor);
        font-size: nth(map_get($baseSetting,fontSize),3);
        font-weight: 600;
      }
    }

    @at-root .item-list{
      @extend %sidebar-ul;
      text-indent: nth(map_get($baseSetting,fontSize),1) * 3;
    }

    @at-root .item-link{
      position: relative;
      display: block;
      padding: 15px;
      background-color: darken(map_get($baseSetting,backgroundColor),2%);
      &:focus{
        color:map_get($baseSetting,focusColor);
        background-color: darken(map_get($baseSetting,backgroundColor),2%);
        text-decoration: none;
      }
      &:hover{
        color:map_get($baseSetting,hoverColor);
        background-color: darken(map_get($baseSetting,backgroundColor),2%);
        text-decoration: none;
      }
      >i{
        font-size: nth(map_get($baseSetting,fontSize),1);
        margin-right: nth(map_get($baseSetting,fontSize),1);
      }
    }

    @at-root .user-info{
      padding: 25px 0 15px 15px;
      @at-root .user-portrait{
        display: block;
        max-width: 40%;
        height: auto;
        margin-bottom: 8px;
      }

      @at-root .user-info-dropdown{
        position: relative;
      }

    }

  }

  // jqsb-left-sm样式
  @at-root .jqsb-left-sm{
    width: map_get($sidebarSetting,sm-width);

    @at-root .sm-item-list{
      @extend %sidebar-ul;
      >li>a{
        color: map_get($sidebarSetting,fontColor);
        font-size: nth(map_get($baseSetting,fontSize),5);
        padding: 12px 18px;
        text-align: center;
      }

      .personal-icon{
        >a{
          background-color: lighten(map_get($baseSetting,backgroundColor),8%);
          line-height: map_get($navbarSetting,navbar-height);
          padding: 0;
          vertical-align: middle;
          >img{
            width: 30px;
          }
        }
      }

    }

  }

  //工具提示样式修改
  @at-root {
    .sidebar-tooltip{
      .tooltip-inner {
        max-width: 200px;
        padding: 0 10px;
        color: #fff;
        text-align: center;
        background-color: rgba(lighten(map_get($baseSetting,backgroundColor),5%),.95);
        border-radius:0;
        line-height: 46px;
        font-weight: 600;
      }
      .tooltip.top .tooltip-arrow {
        border-top-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.top-left .tooltip-arrow {
        border-top-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.top-right .tooltip-arrow {
        border-top-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.right .tooltip-arrow {
        border-right-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.left .tooltip-arrow {
        border-left-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.bottom .tooltip-arrow {
        border-bottom-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.bottom-left .tooltip-arrow {
        border-bottom-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
      .tooltip.bottom-right .tooltip-arrow {
        border-bottom-color: lighten(map_get($baseSetting,backgroundColor),5%);
      }
    }

  }

}

// 中间pjax-container容器样式
#pjax-container{
  height: calc(100vh - 81px);
  overflow: auto;
  padding: 20px;
  background-color: darken(#fff,3%);
}
//#editormd{
//  border-top-width: 0;
//}
.editormd-fullscreen{
  z-index:1024;
}
.footer{
  height: 30px;
  line-height: 30px;
  text-align: right;
  background-color: darken(#fff,1%);
  border-top: 1px solid darken(#fff,10%);
  font-size: 10px;
}

// 发布栏
.shift-trash{
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.nav-title{
  margin: 0 0 22px;
}
.atc-tit-ipt{
  margin-bottom: 15px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}


// toastr样式修改
.toast-close-button{
  line-height: 20px;
}



